html, body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
canvas {
  border: 1px solid white;
}
h1 {
  font-size: 32px;
  font-family: "Source Code Pro", monospace;
  color: #fff;
}
